button {
  margin: 5px;
}
.details {
  /*display: inline;*/
  grid-area: details;
}
/*app-product-card {
  display: inline;
}
app-update-product-form {
  display: inline;
}*/
.update {
  grid-area: update;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 10px;
  grid-template-areas: "details update";
  margin-right: 20px;
}

h3, button {
  margin-left: 20px;
}
